#floorplan  {
  padding: 10px;
}

svg tspan {
  fill: var(--primary-text-color);
}

/* SVG shapes */

svg, svg * {
  /*vector-effect: non-scaling-stroke !important;*/
  pointer-events: all !important;
}

/* Hover over */

/*.ha-entity:hover {
  stroke: #03A9F4 !important;
  stroke-width: 3px !important;
  stroke-opacity: 1 !important;
}*/

/* Animation */

.spinning {
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Binary sensors */

.light-on {
  fill: #F9D27C !important;
}

.light-off {
  fill: #999999 !important;
  transition: fill .5s ease;
}

.sensor-open {
  fill: #00ff00 !important;
}

.sensor-closed {
  fill: #ff0000 !important;
}

.preset-normal {
  fill: #F9D27C !important;
}

.preset-night {
  fill: #0000ff !important;
}

.preset-off {
  fill: #999999 !important;
}

.ac-dry {
}

.ac-heat_cool {
}

.ac-heat {
}

.ac-fan_only {
}

.ac-cool {
}

.ac-off {
}

